html {
  height: 100%;
}

body {
  height: 100%;
  color: white;
  background-color: #fff;
  padding: 0;
  margin: 0;
/*   background-color: #eee; */
}

.site-header{

}

#main-grid{
  height: 100%;
      /* Background styles */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(../img/presse_large.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-C{
  padding-top: 50px;
  font-size: 3em;
  text-align: center;
}

#title-T{
  padding-top: 50px;
  font-size: 2.5em;
  text-align: center;
}

#title-M{
  padding-top: 50px;
  font-size: 2em;
  text-align: center;
}

#social{
  padding-top: 100px;
}

#title-grid{
  background-color: #00adee;
}

/* flex site for bottom sticky footer */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}


#footer-logo {
	height: 30px;
}

#header-button {
	margin:5px;
}

#fakebot {
	/*height: 600px; */
}

.text-align{
  text-align: center;
}

#white-space{
  padding: 50px !important;
}

#features{
  margin: 15px;
  padding-top: 150px;
  max-width: 900px;
}

.videoInsert {
  width: 100%    !important;
  height: auto   !important;
}

.social {
  padding-left: 20px;
  padding-right: 20px;
}

#publisher {
  margin: 15px; 
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

a:hover {
  color: black;
}

.footer{
  padding-top: 20px;
  padding-bottom: 20px;
}


h2, h3 {
  color: white !important;
}


.header{
  color: white !important;
}

#alternate-button{
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 50px;
}

#mce-EMAIL{
  color: #888;
}